/* Write your CSS here */
.welcome-container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
}

.heading {
  color: #f0bb03;
  font-size: 36px;
  font-family: 'Bree Serif';
}
.paragraph {
  color: white;
  font-family: 'Bree Serif';
  font-size: 24px;
}

.button {
  padding: 8px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Bree Serif';
  width: 120px;
}
